body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
  font-size: 105%;
}

header {
  background-color: #fefeab;
}

nav {
  background-color: #feaecd;
  display: inline-block;
  width: 80%;
}

nav>li {
  margin: 20px;
}

main {
  background-color: #eacdfb;
  font-size: 110%
}

footer {
  background-color: #bcdeab;
}

li {
  display: inline-block;
  width: auto;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: purple;
}

p {
  line-height: normal;
}

.grid {
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: grid;
  grid-template-columns: 40% 40%;
  margin: 20px;
}

.grid>img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}